<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>
 
  <div class="box">  
    <% newListItem.forEach(function(item) { %>
      <form  action="/delete" method="POST">
        <div class="item"> 
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
          <p> <%= item.name %> </p>
        </div>  

      </form>
    
      <% }) %>


    <!-- <% for(var i=0; i<newListItem.length; i++) { %> 
      <div class="item"> 
        <input type="checkbox">
        <p> <%= newListItem[i].name %> </p>
      </div>      
      <% }%> -->
  
      <form class ="item" action="/" method="POST">
        <!-- <label>Enter your input here</label> -->
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value = <%= listTitle %> >+</button>
        </form>
  </div>

  <%- include("footer") -%>




    